.html,body{
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 auto !important;
    position: absolute;
    width: 100%
}

body{background-color: #E0E4E7;}

a {
      text-decoration: none;
}

.container{
    width: 100%;
    height:100%;
    margin:0;
    padding: 0;
}
.menu{
    width: 20%;
    height: 100%;
    float: left;
}
.barra-sup{
    height: 55px;
}
.barra-sup-izq{
    background-color: #B6C72C;
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 9px 0 10px 0;
    clear: both;
  }

.barra-sup-der{
    background-color: #fff;
    display: inline-block;
    float: right;
    width: 80%;
    height: 55px;
}

  .barra-sup-der label{
    float: right;
    font-weight: bold;
    line-height: 55px;
    margin-right: 10px;
  }

  .barra-sup-der img{
    float: right;
    width: 43px;
    margin-top: 10px;
    padding-right: 20px;
  }

  .barra-sup-der a{
    float: right;
    line-height: 55px;
    padding-right: 20px;
    font-weight: bold;
  }

.menu{
    background-color: #2C3333;
    height: 100%;
}
.menu ul{
    list-style-type: none;
}
.menu .enlaces{
    padding: 12px
}
.menu li{
    padding-top: 10px;
    color: #fff;
}
.menu li img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.menu .submenu{
    font-weight: initial;
}
.menu .enlace-salir{
    bottom: 30px;
    position: absolute;
}

.main{
  margin: 0 20px;
  }

.enlaces {
    margin: 0;
}
.principal{
    float: left;
    width: 80%;
    min-height: 100%;
    background: #e0e4e7;
    /*overflow: auto;*/
}

.filtro-fechas{
    height: 60px;
}

.filtro-fechas-interior{
    height: 60px;
    float: right;
    margin-right: 60px;
}

.filtro-fechas select{
    height: 30px;
    width: 126px;
    margin-top: 20px;
}
.estimacion-mes{
    width: 100%;
}

li label {
    margin-left: 25px;
}
li input {
    margin-left: 25px;
}
#guardar-estimacion{
    display: none;
    width: 100%;
}
#guardar-estimacion a{
    float: right;
    margin-right: 70px;
    margin-bottom: 30px;
}
#resultado {
    text-align: center;
    font-weight: bold;
    width: 76%;
    float: left;
}


/* Login.php */
.login{
    /*background: #e0e4e7;*/
    background: #fff;
    margin: auto;
    width: 600px;
    margin-top: 70px;
}

.login form{
    height: 100%;
}

.login h1{
    background: #1a191a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
}

.login .form-group{
   margin: 20px auto;
    text-align: center;
}

.login .form-group label{
    font-weight: bold;
    margin-right: 25px;
}

.hr {
   border-bottom: solid thin #E0E4E7;
    width: 500px;
    text-align: center;
    margin: 10px auto;
    padding: 15px 0;
}


.login .btn-primary{
    background: #A2BD31;
    border: 0;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    display: block;
    clear: both;
    margin: 25px auto;
    cursor: pointer;
}

.login .btn-primary:hover{
    background: #1a191a;
}

.bg-danger{
    background: #f2dede;
  margin: 30px 25px 0 25px;
  padding: 10px;
  text-align: center;
}

.bg-primary{
  background: #337ab7;
  margin: 30px 25px 0 25px;
  padding: 10px;
  text-align: center;
}


/* Formulario Llamadas Vuelta*/
/* Formularios */
.formularios {
  width: 210px;
  display: inline-block;
  margin: 10px 0 0 15px;
}

.formularios #seguros-marsh .body{
  padding: 2px;
  border: 1px solid #A2BD31;
}


.formularios #seguros-marsh p{
  padding: 5px 10px;
  margin: 0;
  text-align:  justify;
}

.formularios #seguros-marsh form{
  padding: 5px 10px;
  margin: 0;
}

.formularios #seguros-marsh form select{
  padding: 5px;
  margin: 15px 10px 10px 10px;
}

.formularios #seguros-marsh h1{
  background: #A2BD31;
  color: #ffffff;
  font-size: 13px;
  margin: 0;
  text-align: center;
  padding: 5px;
  border: 1px solid #A2BD31;
}

/* Botones LLamada de vuelta y SMS */
.formularios a{
      display: block;
      background: #A2BD31;
      margin: 0 0 5px 0;
      padding: 5px 10px;
      color: #ffffff;
}

.formularios a img{
      width: 25px;
      margin-right: 10px;
      vertical-align: bottom;
}


/* Box Formularios */
.formulario{
  display: inline-block;
  float: left;
  margin: 15px 0;
  width: 100%;
}

.formulario h1{
  background: #A2BD31;
  color: #1a191a;
  font-size: 18px;
  margin: 0;
  text-align: center;
  padding: 5px;
}

.formulario .content{
     background: #fff;
    padding: 20px 14px;
    margin: 0 auto;
    text-align: center;
}

.formulario .content #informacion-cliente{
  margin: 0 auto;
}

.formulario .content #informacion-cliente label{
  font-weight: bold;
  margin-right: 10px;
}


.formulario .content #informacion-cliente input{
  margin-right: 40px;
  width: 75px;
  padding: 5px 10px;
}

.formulario .content #informacion-cliente .error{
  border: 1px solid #a94442
}

.formulario .content #informacion-busqueda .error{
  border: 1px solid #a94442
}

.formulario .content #informacion-llamada{
  margin: 0 auto;
}

.formulario .content #informacion-llamada label{
  font-weight: bold;
  margin-right: 10px;
}

.formulario .content #informacion-llamada input{
  margin-right: 40px;
  width: 75px;
  padding: 5px 10px;
}

.formulario .content #informacion-busqueda{
  margin: 0 auto;
}

.formulario .content #informacion-busqueda label{
 font-weight: bold;
    margin-right: 10px;
    float: left;
    text-align: center;
    width: 100%;
}

.formulario .content #informacion-busqueda input{
      width: 100%;
    padding: 5px 0;
    float: left;
    display: block;
    clear: both;
    margin: 5px 0;
}

.formulario .content #informacion-coordinador{
  margin: 0 auto;
}

.formulario .content #informacion-coordinador label{
  font-weight: bold;
  margin-right: 10px;
}

.formulario .content #informacion-coordinador input{
  margin-right: 40px;
  width: 200px;
  padding: 5px 10px;
}

.formulario .content #informacion-coordinador select{
  padding: 5px;
}

.button{
  background: #A2BD31;
    padding: 7px 40px;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    border: 0;
}

.button:hover{
  background: #1a191a;
    padding: 7px 40px;
    color: #ffffff;
    border: 0;
}


.div-button-send{
  margin: 0 auto;
    text-align: center;
    width: 100%;
    display: block;
    clear: both;
}

#div-informacion-cliente{
  width: 30%;
    margin-right: 1%;
}

.formulario #busqueda-solicitada{
    width:406px;
  }

#div-informacion-coordinador{
  width: 100%;
  margin-bottom: 10px;
}

#div-informacion-formulario {
  width: 69%;
    background: #fff;
    padding: 0 0 20px 0;
  }

  .message-error {
  background: #f2dede;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.message-success {
  background: #A2BD31;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Listado Llamadas de Vuelta*/
.llamadas-de-vuelta-pendientes{
    background: #fff;
    margin: 20px auto;
}

.llamadas-de-vuelta-pendientes h1{
    background: #2C3333;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 10px;
  }

.llamadas-de-vuelta-pendientes .content{
    margin: 0 25px;
}

.llamadas-de-vuelta-pendientes .llamada-vuelta{
    border-bottom: 1px solid #d8d9dd;
    padding: 10px 0px;
    margin: 10px auto;
    display: inline-block;
    width: 49%;
}

.llamadas-de-vuelta-pendientes .llamada-vuelta div{
  display: inline-block;
  float: left;
}

.llamadas-de-vuelta-pendientes .llamada-vuelta .identity{
    background: #E0E4E7;
    padding: 5px;
    margin-right: 10px;
  }

.llamadas-de-vuelta-pendientes .llamada-vuelta .hora{
  font-weight: bold;
    margin-right: 10px;
  }


  .rangosFechas{
    display: block;
    clear: both;
    padding: 20px;
  }

  .rangosFechas label{
    font-weight: bold;
    margin-right: 10px;
  }

  .rangosFechas input{
    padding: 4px 5px;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
  }

  #estimacion-mes ol li{
    margin-bottom: 5px;
  }

  #estimacion-minutos {
    text-align: center;
  }







  /*  Textos error404 */
 .pageNotFound {
    height: 400px;
    margin-top: 60px;
 }

 .errorURL404 {
    font-size: 200px;
    float: left;
    text-align: center;
    width: 43%;
    color: #424242;
    height: 200px;
    line-height: 200px;
    margin-right: 20px;
 }

 .errorURLTexto {
    float: left;
    text-align: center;
    width: 50%;
    height: 200px;
    line-height: 50px;
 }

 .errorURLNo {
    font-size: 24px;
    text-align: left;
    width: 100%;
    background: #A2BD31;
    padding: 15px;
    font-weight: bold;
 }

 .errorURLContent {
    font-size: 24px;
    text-align: left;
    background: #e5e5e5;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    height: 100px;
 }


 #horarioAgentes  th{
    width: 10px;
    padding: 0;
    margin: 0;
    text-align: center;
 }


 #horarioAgentes td{
  width: 10px;
  padding: 0;
  margin: 0;
  background: #fff;
 }

 #horarioAgentes  td input {
  width: 30px;
  border: 0;
  height: 37px;
  padding:0;
  margin:0;
  text-align: center;
 }


 .listado{
  display: block;
  width: 100%;
  clear: both;
  margin-top: 20px;
 }


 .main form{
  display: block;
  width: 100%;
  clear: both;
  margin-top: 20px;
 }

 /*.form-horizontal .form-group label {
  width: auto;
 }*/

 .form-horizontal .form-group input, .form-horizontal .form-group select {
  width: 300px;
 }


 form .error{
  border: 1px solid #a94442
 }


 hr {
  margin-top: 0 !important;
 }

#listadoActividades {
  width: 295px;
  margin-left: 2px;
}

#listadoActividades div{
  padding: 0 4px 0 4px;
}
