html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #222222;
}

html {
    display: table;
    margin: auto;
}

body {
    vertical-align: middle;
    margin: 0 auto;
    width: 1080px;
}

input::-ms-clear{
    display: none;
}

img{
  /*display: block;*/
  border: 0px;
}

input, textarea { color: #000; }
.placeholder { color: #aaa; }

.logotipo{
  height: 75px;
}

.clearfix{
    display: block;
    clear: both;
}

.header-menu {
    background: #edeef0;
    height: 80px;
    margin: 10px 0;
    float: left;
    width: 850px;
}

/*Cabecera fija*/

.fixed-elements {
    position: fixed;
    /*z-index: 10*/
    display: block;
    clear: both;
    width: 85%;
    /*height: 100%;*/
    /*overflow: hidden;*/
}

.fixed-header{
    background-color: #ffffff;
    display: inline-block;
    float: left;
    width: 80%;
    position: fixed;
}

.scrollable-result{
  /*margin-top: 160px;*/
  margin-top: 0px;
  display: block;
  clear: both;
}

.header-menu  .column div{
    background: #ffffff;
    width: 180px;
    float: left;
    margin: 7px 0px 5px 5px;
    padding: 5px 10px;
    font-size: 12px;
    height: 56px;
}

.header-menu .line{
  width: 2px;
    background: #1a191a;
    display: inline-block;
    height: 65px;
    margin: 10px 0;
    float: left;
}

.header-menu .logo{
  width: 150px;
  display: inline-block;
  float: left;
}

.header-menu .opciones{
  width: 270px;
  display: inline-block;
  /*background: blue;*/
  height: 100%;
  position: absolute;
  height: 100px;
}

.header-menu .logo img{
  width: 130px;
    display: block;
    margin: 15px 10px;
}

.header-menu .opciones #white-box{
  background-color: #ffffff;
  height: 70px;
  margin: 15px 5px 15px 5px;
}

.header-menu .opciones #white-box a{
  width: 50px;
  display: inline-block;
  margin: 10px 6px;
}

.header-menu .opciones #white-box a img{
  width: 50px;
}


.header-menu .column{
  width: 245px;
  float: left;
}

/* Buscador Google */
.search-google {
  display: block;
    text-align: center;
    width: 850px;
    clear: both;
    height: auto;
    position: absolute;
    margin-top: 25px;
}

.search-google #input-search-google{
    height: 26px;
    float: left;
    display: inline-block;
    width: 660px;
    margin-left: 15px;
}

.search-google .btn-google{
     width: 25px;
    background-color: #A2BD31;
    padding: 5px 20px 5px 20px;
    border: 1px solid #aaa;
    float: left;
}

.search-google .btn-google img{
    width: 20px;
}


.search-google #logo{
    width: 100px;
    float: left;
    display: inline-block;
}

/* Buscadores */
.main{
  width: 850px;
  display: inline-block;
}

.main .avanzado{
  background: #edeef0;
  display: block;
  clear: both;
}

.main .avanzado strong{
    display: inline-block;
    margin: 17px 0 0 5%;
    line-height: 15px;
    vertical-align: middle;
    float: left;
}

.main .avanzado input{
  height: 30px;
  width: 75%;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  margin: 10px 0 0 10px;
  border: 1px solid #aaa;
  line-height: 30px;
  vertical-align: middle;
  float: left;
}

.main .avanzado select{
  height: 32px;
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 10px 0 0 10px;
    border: 1px solid #aaa;
    line-height: 15px;
    vertical-align: middle;
    float: left;
    padding: 0 5px;
}

.main .detallado select{
    height: 32px;
    width: auto;
    display: inline-block;
    padding: 0;
    border: 1px solid #aaa;
    line-height: 30px;
    padding: 0 5px;
}

.main .avanzado button{
    height: 32px;
    width: 9%;
    display: inline-block;
    padding: 0;
    margin: 10px 0 0 0;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    background: #A2BD31;
    float: left;
    cursor: pointer;
}


.main .detallado{
  margin: 10px 0;
}

.main .detallado input{
    height: 30px;
    width: 80%;
    display: inline-block;
    padding: 0;
    margin: 17px 0 0 5%;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    float: left;
    padding: 0 5px;
}

.main .detallado .buscador{
  background: #edeef0;
  padding-bottom: 25px;
}

.main .avanzado .buscador{
  background: #edeef0;
  height: 60px;
  margin: 10px 0;
}

.main .detallado span{
    color: #edeef0;
}

.main .detallado .table{
    display: block;
    /*height: 170px;*/
    margin: 0% 5%;
    width: 90%;
}

.main .detallado .table .column{
    display: inline-block;
    margin: 20px 5px 20px 5px;
    padding: 0;
    width: 240px;
    float: left;

}

.main .detallado .table .column hr{
    width: 100%;
    background: #A2BD31;
    height: 4px;
    border: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.main .detallado .table .column h1{
    text-align: center;
    font-size: 24px;
    margin: 5px 0;
    background: none;
}

.main .detallado .table .column input{
    height: 25px;
    width: 195px;
    display: block;
    clear: both;
    margin: 5px 15px;
}

.main .detallado button{
    height: 30px;
    width: 250px;
    display: block;
    padding: 0;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    background: #A2BD31;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #1a191a;
}

.main .detallado button:hover{
  font-weight: bold;
}



.main .avanzado button img{
    height: 22px;
    display: inline-block;
    padding: 0;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: 0 30%;
}


/* Buscador Lugares Cercanos*/

.main .lugares-cercanos{
  background: #edeef0;
  margin: 10px 0;

}

.main .lugares-cercanos strong{
    display: inline-block;
    margin: 17px 0 0 10px;
    line-height: 15px;
    vertical-align: middle;
    float: left;
}

.main .lugares-cercanos input{
    height: 30px;
    display: inline-block;
    /* position: absolute; */
    padding: 0 5px;
    margin: 10px 0 0 10px;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    float: left;
}


.main .lugares-cercanos select{
  height: 32px;
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 10px 0 0 10px;
    border: 1px solid #aaa;
    line-height: 15px;
    vertical-align: middle;
    float: left;
    padding: 0 5px;
}

.main .lugares-cercanos .button{
    height: 30px;
    width: 9%;
    display: inline-block;
    padding: 0;
    margin: 10px 0 0 10px;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    background: #A2BD31;
    float: left;
    cursor: pointer;
}

.main .lugares-cercanos .buscador{
  background: #edeef0;
  height: 60px;
  margin: 10px 0;
}

.main .lugares-cercanos .button img{
    height: 22px;
    display: inline-block;
    padding: 0;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: 0 30%;
}


/* ------------------------------------- */
.main .header{
  background: #d8d9dd;
  height: 30px;
  display: block;
}

.main .header a{
  float: left;
  height: 30px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 30px;
  font-weight: bold;
  color: #1a191a;
  background: #A2BD31;
}

.main .header div{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-weight: bold;
  color: #1a191a;
  text-align: center;
}

/* Formularios */
.formularios {
  width: 18%;
  display: inline-block;
  /*margin-top: 20px;*/
  float: right;
  position: fixed;
  margin-left: 860px;
}

.formularios #seguros-marsh .body{
  padding: 2px;
  border: 1px solid #A2BD31;
  margin-top: -5px;
}


.formularios #seguros-marsh p{
  padding: 5px 10px;
  margin: 0;
  text-align:  justify;
}

.formularios #seguros-marsh form{
  padding: 5px 10px;
  margin: 0;
}

.formularios #seguros-marsh form select{
  padding: 5px;
  margin: 15px 10px 10px 10px;
}

.formularios #seguros-marsh h1{
  background: #A2BD31;
  color: #ffffff;
  font-size: 13px;
  margin: 0;
  text-align: center;
  padding: 5px;
  border: 1px solid #A2BD31;
}

/* Listado Abonados */
.listado-abonados{
  width:98.5%;
  display: table;
  margin-bottom: 50px;
  margin-top: 5px;
}

.listado-abonados .cabecera{
  width: 100%;
  display: block;
  float: left;
  background-color: #A2BD31;
  border: 1px solid #A2BD31;
  padding: 5px;
  font-weight: bold;
}

.listado-abonados .cabecera div{
  width: 25%;
  display: block;
  float: left;
  margin: 0 5px;
}


.listado-abonados .abonado{
  width: 100%;
  display: block;
  float: left;
  border: 1px solid #A2BD31;
  margin-top: 5px;
  padding: 5px;
  height: 100%;
  font-size: 13px;
}

.listado-abonados .abonado .col{
  width: 250px;
  display: block;
  float: left;
  margin-top: 1px;
  height: 100%;
  padding-right: 10px;
}

.listado-abonados .abonado .col .separador{
  margin: 5px 0;
  display: block;
  clear: both;
}

.listado-abonados .abonado .col div{
  width: 100%;
  display: block;
  float: left;
  word-break: break-word;
}

/*.listado-abonados .abonado hr{
  height: 100px;
  width: 1px;
  background: #A2BD31;
  display: inline-block;
  float: left;
  margin: 0 5px;
  border-style: none;
}*/

.listado-abonados .abonado .options{
  width: 15%;
  display: block;
  float: right;
  margin-top: 1px;
  height: 100%;
}

.listado-abonados .abonado .options div{
  width: 100%;
  display: block;
  float: left;
  word-break: break-all;
}

.listado-abonados .abonado .options .option{
  width: 15%;
  display: block;
  line-height: 100px;
}

.listado-abonados .abonado .options .option img{
  width: 20px;
  display: block;
  margin: 10px;
}


a{
  color: #1a191a;
  text-decoration: none;
  word-break: break-all;
}

a:hover{
  color: #1a191a;
  text-decoration: none;
  font-weight: bold;
}


.abonado .main{
  display: block;
  clear: both;
  height: 100%;
  width: 100%;
}

.abonado .descripcionGeneral{
    display: block;
    background-color: rgba(182,199,44,0.6);
    float: inherit;
    padding: 5px 0px;
}

.abonado .datosTelefonos .telefono .informacion .descripcion span{
  line-height: 22px;
  background-color:   rgba(182,199,44,0.4);
  float: inherit;
  padding: 1px 3px;
}


.highlight_string_{
   color: #C54832
}

.HIGHLIGHT_STRING_{
   color: #C54832
}

.triangulo{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 35px 20px;
    border-color: transparent transparent #edeef0 transparent;
    position: relative;
    margin: 0px 110px;
}

#box-sms{
    display: block;
    clear: both;
    position: absolute;
    width: 250px;
    /*padding: 10px;*/
    z-index: 1000;
    display: none;
}

#box-sms form{
    display: block;
    clear: both;
    position: relative;
    background: #edeef0;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px 0px;
}

#box-sms form label{
    display: block;
    clear: both;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}


#box-sms form input, #box-sms form input textarea{
    display: block;
    clear: both;
    padding: 5px;
    margin-bottom: 10px;
    width: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#box-sms form button{
    height: 30px;
    width: 100px;
    display: block;
    padding: 0;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    background: #A2BD31;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #1a191a;
    font-weight: bold;
}


/* Formulario de Incidencias*/
#box-reporte{
    display: block;
    clear: both;
    position: absolute;
    width: 250px;
    /*padding: 10px;*/
    z-index: 1000;
    display: none;
}

#box-reporte form{
    display: block;
    clear: both;
    position: relative;
    background: #edeef0;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px 0px;
}

#box-reporte form label{
    display: block;
    clear: both;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}


#box-reporte form input, #box-reporte form input textarea{
    display: block;
    clear: both;
    padding: 5px;
    margin-bottom: 10px;
    width: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#box-reporte form button{
    height: 30px;
    width: 100px;
    display: block;
    padding: 0;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    background: #A2BD31;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #1a191a;
    font-weight: bold;
}

#texto-reporte {
    margin: 0px;
    width: 218px;
    height: 128px;
}



/* Formulario Routes Maps*/
#box-routes-maps{
    display: block;
    clear: both;
    position: absolute;
    width: 250px;
    /*padding: 10px;*/
    z-index: 1000;
    display: none;
}

#box-routes-maps form{
    display: block;
    clear: both;
    position: relative;
    background: #edeef0;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px 0px;
}

#box-routes-maps form label{
    display: block;
    clear: both;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

#box-routes-maps form input, #box-routes-maps form select{
    display: block;
    clear: both;
    padding: 5px;
    margin-bottom: 10px;
    width: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


#box-routes-maps form a{
    height: 30px;
    width: 100px;
    display: block;
    padding: 0;
    border: 1px solid #aaa;
    line-height: 30px;
    vertical-align: middle;
    background: #A2BD31;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #1a191a;
    font-weight: bold;
}

.header-menu .column img{
  width: 20px;
    float: left;
    margin: 10px 0 0 10px;
}

/* detalles-llamada */
.detalles-llamada {
    width: 850px;
    height: 45px;
    display: block;
    float: left;
    margin-bottom: 10px;
}

.detalles-llamada  form{
    width: 750px;
    background: #edeef0;
    display: block;
    height: 100%;
    float: left;
}

.detalles-llamada  form label{
    height: 45px;
    line-height: 45px;
    display: inline-block;
    vertical-align: middle;
}

.detalles-llamada  form label img{
    height: 15px;
    margin-left: 10px;
    vertical-align: middle;
    line-height: 45px;
}

.detalles-llamada  form input{
    height: 15px;
    padding: 5px;
    margin-left: 5px;
    width: 220px;
    vertical-align: middle;
}

.detalles-llamada  form select{
    height: 29px;
    /*padding: 5px;*/
    margin-left: 5px;
    vertical-align: middle;
}

.detalles-llamada  form .save{
    background-color: #A2BD31;
    padding: 5px 10px 7px 5px;
    border: 1px solid #aaa;
    float: left;
    display: inline-block;
    float: right;
    margin: 8px 10px;
    height: 17px;
    width: 15px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
}

.detalles-llamada  form .save img{
      height: 15px;
    padding-top: 2px;
}

.detalles-llamada  .opciones{
    width: auto;
    background: #edeef0;
    display: block;
    height: 100%;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.detalles-llamada  .opciones a{
      width: 25%;
    float: left;
    display: inline-block;
    padding: 10px;
}

.detalles-llamada  .opciones a img{
  width: 25px;
}



/* ultimas-busquedas */
.ultimas-busquedas {
    width: 850px;
    height: auto;
    display: block;
    clear: both;
    float: left;
    margin-bottom: 10px;
    background-color: #edeef0;
}

.ultimas-busquedas .header
{
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}


/*
  Datos Sobre la Búsqueda
*/
.recordatorio-busqueda {
    width: 850px;
    height: 40px;
    display: block;
    float: left;
    margin-bottom: 10px;
    background-color: #F0E9AF;
    border: #D5CD9E;
    /* margin-top: 160px; */
    padding: 10px 0 10px 0;
}

.recordatorio-busqueda img {
    width: 20px;
    height: 20px;
    display: inline;
    margin: 0 20px 0 15px;
    vertical-align: middle;
}

.recordatorio-busqueda p {
    display: inline;
    font-size: 14px;
}


/*
  Datos Formulario Seguros Marsh
*/
#datos-seguros-marsh{

}

#datos-seguros-marsh .label{
  font-weight: bold;
  display: block;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
}

#datos-seguros-marsh input{
  padding: 5px;
}

#datos-seguros-marsh #tipo_seguro{
  margin: 0;
  width: 183px;
}

#datos-seguros-marsh .button{
  display: block;
  clear: both;
  margin: 10px auto;
  text-align: center;
  background: #A2BD31;
  padding-top: 5px;
  padding-bottom: 5px;
}


/* Botones LLamada de vuelta y SMS */
.formularios a{
      display: block;
      background: #A2BD31;
      margin: 0 0 5px 0;
      padding: 5px 10px;
      color: #ffffff;
}

.formularios a img{
      width: 25px;
      margin-right: 10px;
      vertical-align: bottom;
}

/* Box Formularios */
.formulario{
  /*display: inline-block;
  float: left;
  margin: 15px 0;*/
}

.formulario h1{
  background: #A2BD31;
  color: #1a191a;
  font-size: 18px;
  margin: 0;
  text-align: center;
  padding: 5px;
}

.formulario .content{
 background: #edeef0;
 padding: 20px;
 margin: 0 auto;
 text-align: center;
}

.formulario .content #informacion-cliente{
  margin: 0 auto;
}

.formulario .content #informacion-cliente label{
  font-weight: bold;
  margin-right: 10px;
}


.formulario .content #informacion-cliente input{
  margin-right: 40px;
  width: 75px;
  padding: 5px 10px;
}

.formulario .content #informacion-cliente .error{
  border: 1px solid #a94442
}

.formulario .content #informacion-busqueda .error{
  border: 1px solid #a94442
}

.formulario .content #informacion-llamada{
  margin: 0 auto;
}

.formulario .content #informacion-llamada label{
  font-weight: bold;
  margin-right: 10px;
}

.formulario .content #informacion-llamada input{
  margin-right: 40px;
  width: 75px;
  padding: 5px 10px;
}

.formulario .content #informacion-busqueda{
  margin: 0 auto;
}

.formulario .content #informacion-busqueda label{
  font-weight: bold;
  margin-right: 10px;
}

.formulario .content #informacion-busqueda input{
  margin-right: 40px;
  width: 75px;
  padding: 5px 10px;
}

.formulario .content #informacion-coordinador{
  margin: 0 auto;
}

.formulario .content #informacion-coordinador label{
  font-weight: bold;
  margin-right: 10px;
}

.formulario .content #informacion-coordinador input{
  margin-right: 40px;
  width: 75px;
  padding: 5px 10px;
}

.formulario .content #informacion-coordinador select{
  padding: 5px;
}

.button{
  background: #A2BD31;
    padding: 7px 40px;
    color: #ffffff;
}

.button:hover{
  background: #1a191a;
    padding: 7px 40px;
    color: #ffffff;
}

/* Compleciones */
.compleciones{
  margin-left: 3px;
  margin-top: 20px;
}

.compleciones .clearfix{
  margin: 5px 0;
  text-align: center;

}

.compleciones a img{
    width: 20px;
    padding: 0 2px;
}

.compleciones label{
  margin-left: 5px;
}


.compleciones .red{
  background: #C54832;
  color: #ffffff;
  padding: 2px 5px;
}

.compleciones .verde{
  background: #A2BD31;
  color: #ffffff;
  padding: 2px 5px;
}

input:disabled{
      background: #ffffff;
      border: 1px solid rgb(169, 169, 169);
      height: 15px;
      padding: 5px;
  }


  .opciones label img {
    height: 15px;
    margin-left: 10px;
}

#btn_save_informacion_llamante{
    width: auto;
    height: 20px;
    padding: 0px;
    margin-left: 5px;
}

#span_save_informacion_llamante{
    display: inline-block;
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    background: #A2BD31;
    padding: 5px 5px 1px 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}


.message-error {
  background: #f2dede;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.message-success {
  background: #A2BD31;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.div-button-send{
  margin: 0 auto;
  text-align:center;
  display: block;
    clear: both;
}

#div-informacion-cliente{
  width:30%;
  margin-right: 10px;
  }

  .formulario #busquedaSolicitada{
    width:455px !important;
  }

  .formulario .content #informacion-coordinador label {
    font-weight: bold;
    margin-right: 10px;
}

#div-informacion-coordinador{
  display: none;
  }

.formulario #direccion{
  width:250px !important
}

.formulario #localidad{
width:150px !important
}

.formulario #observaciones{
width:500px !important
}


.formularios #formulario-sms{
    border: 1px solid #A2BD31;
    padding: 5px 10px;
    margin: -5px 0 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #222222;
    display: none;
  }

  #formulario-sms label{
    font-weight: bold;
    margin: 2px 0;
    display: block;
    clear: both;
  }

    #box-sms a{
      display: inline-block;
      background: #A2BD31;
      margin: 0 0 5px 0;
      padding: 5px 10px;
      color: #ffffff;
      width: auto;
  }


/*  Formularios para reporte de usuarios */
  .formularios #formulario-reporte{
    border: 1px solid #A2BD31;
    padding: 5px 10px;
    margin: -5px 0 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #222222;
    display: none;
  }

  #formulario-reporte label{
    font-weight: bold;
    margin: 2px 0;
    display: block;
    clear: both;
  }

  #box-reporte a{
    display: block;
    background: #A2BD31;
    margin: 0 0 5px 0;
    padding: 5px 10px;
    color: #ffffff;
    width: 40px;
  }


/*  Textos error404 */
 .pageNotFound {
    height: 400px;
    margin-top: 60px;
 }

 .errorURL404 {
    font-size: 200px;
    float: left;
    text-align: center;
    width: 43%;
    color: #424242;
    height: 200px;
    line-height: 200px;
    margin-right: 20px;
 }

 .errorURLTexto {
    float: left;
    text-align: center;
    width: 50%;
    height: 200px;
    line-height: 50px;
 }

 .errorURLNo {
    font-size: 24px;
    text-align: left;
    width: 100%;
    background: #A2BD31;
    padding: 15px;
    font-weight: bold;
 }

 .errorURLContent {
    font-size: 24px;
    text-align: left;
    background: #e5e5e5;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    height: 100px;
 }

.logogoonce {
    background: #edeef0;
    margin: 10px 0 10px 0;
    padding: 18px 0;
    text-align: center;
 }

 .resaltado_P0 {
  width: 100%;
  display: block;
  float: left;
  border: 1px solid #A2BD31;
  margin-top: 5px;
  padding: 5px;
  height: 100%;
  font-size: 13px;
  background-color: #edeef0;
  box-shadow: 2px 2px 3px #ccc;
 }
 .resaltado_P1 {
  width: 100%;
  display: block;
  float: left;
  border: 1px solid #A2BD31;
  margin-top: 5px;
  padding: 5px;
  height: 100%;
  font-size: 13px;
  background-color: #fcf7de;
  box-shadow: 2px 2px 3px #ccc;
 }
 .resaltado_P2 {
  width: 100%;
  display: block;
  float: left;
  border: 1px solid #A2BD31;
  margin-top: 5px;
  padding: 5px;
  height: 100%;
  font-size: 13px;
  background-color: #fcf7de;
  box-shadow: 2px 2px 3px #ccc;
 }


 hr {
  margin: 5 !important;
  border: 0;
 }

 .hide {
  display: none;
 }

em {
  font-style: normal;
  font-weight: bold;
  color: #C54832;
}

.semaforo-verde {
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  display: block;
  float: right;
  margin: 11px 10px 12px 0;
}

.semaforo-rojo {
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: red;
  display: block;
  float: right;
  margin: 11px 10px 12px 0;
}
