/******************************** FORMULARIO DE LOGIN ********************************/

.login {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  padding-top: 150px;  
}


#login_usuario input{
  width: 500px;
  margin: 0 auto;
}

.login .logo {
  margin-bottom: 100px;
}




