body {
  margin: 0;
}
#cssmenu{
  border:none;
  border:0px;
  padding:0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  left: 0;
  right: 0;
  top: 0;
  z-index:1500;
  box-shadow: 0 0px 9px rgba(0, 0, 0, 0.6);
  }
#cssmenu ul{
  background:#2C3333;
  height:50px;
  list-style:none;
  margin:0;
  padding:0;
  }
#cssmenu li{
  float:left;
  padding:0px;
  height:50px;
  }
#cssmenu li a{
  background:#2C3333 bottom right no-repeat;
  color:white;
  display:block;
  font-weight:normal;
  line-height:50px;
  margin:0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
  height:50px;
  vertical-align:middle;
  outline:none;
  }
#cssmenu li a:hover, #cssmenu ul li:hover a{
  background: #B6C72C bottom center no-repeat;
  color:#FFFFFF;
  text-decoration:none;
  }
#cssmenu li ul{
  background:#2C3333;
  display:none;
  height:auto;
  padding:0px;
  margin:0px;
  border:0px;
  position:absolute;
  width:225px;
  z-index:200;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  /*top:1em;
  /*left:0;*/
  }
#cssmenu li:hover ul{
  display:block;
  
  }
#cssmenu li li {
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:225px;
  }
#cssmenu li:hover li a{
  background:none;
  }
#cssmenu li ul a{
  display:block;
  height:50px;
  font-size:13px;
  font-style:normal;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
  outline:none;
  }
#cssmenu li ul a:hover, #cssmenu li ul li:hover a{
  background:#B6C72C center left no-repeat;
  border:0px;
  color:#ffffff;
  text-decoration:none;
  }
#cssmenu p{
  clear:left;
} 
.cerrar {
  float:right !important;
}
@media (max-width:659px) {
  #cssmenu ul{
    height:100px;
  }
}
@media (max-width:347px) {
  #cssmenu ul{
    height:150px;
  }
}
.has-sub > ul > li > a {
  background-color:#478ecb !important;
}
.has-sub > ul > li > a:hover {
  background-color:#B6C72C !important;
}
#cssmenu hr {
  margin: 0px;
  border: 1px solid #B6C72C;
}
.titulo-apartado {
   color: #2C3333;
   margin-top: 20px;
   padding: 0px;
}
.titulo-apartado hr {
  margin-bottom: 0px;
}