/************************************** GENERAL **************************************/

body {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.btn, input, select {
	border-radius: 0;
}

#content {
	display: table;
	width: 100%;
	padding-left: 200px;
}

/************************************* BOOTSTRAP *************************************/

.btn.btn-primary {
	background-color: #333333;
	border-color: #333333;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
	background-color: #666666;
	border-color: #333333;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	background-color: #666666;
	border-color: #333333;
}

.btn.btn-info {
	background-color: #666666;
	border-color: #666666;
}

.btn-info.active, .btn-info:active, .btn-info:hover, .open > .dropdown-toggle.btn-info {
	background-color: #999999;
	border-color: #666666;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
	background-color: #999999;
	border-color: #666666;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .btn.disabled:hover, .btn[disabled]:hover {
	background-color: #333333;
	border-color: #333333;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pagination, .form-control {
	border-radius: 0;
}

/******************************** FORMULARIO DE LOGIN ********************************/

.login {
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 100%;
	padding-top: 150px;
}

#login_usuario input {
	width: 500px;
	margin: 0 auto;
}

.login .logo {
	margin-bottom: 100px;
}

/******************************** MENÚ DE NAVEGACIÓN DE LA WEB ********************************/

#nav-menu {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 200px;
	min-height: 100%;
	background-color: #f60;
	border-right: 1px solid #ccc;
}

#nav-menu .menu-bar {
	padding: 10px
}

#nav-menu p {
	color: white;
}

#nav-menu a {
	color: white;
	text-decoration: none;
	margin-bottom: 15px;
}

#nav-menu a:hover {
	opacity: 0.7;
	text-decoration: none;
}

#nav-menu hr {
	color: #FFFFFF;
	opacity: 0.4;
}

#nav-menu h2 {
	color: white;
}

#nav-menu h1 {
	color: white;
	text-align: center;
}

#nav-menu h1 a {
	color: white;
	text-align: center;
	text-decoration: none;
}

#nav-menu h1 a:hover {
	color: #ccc;
	text-decoration: none;
}

/********************************************* INICIO *************************************************/

#inicio .resumen-box {
	width: 400px;
	height: 300px;
	border: 2px solid grey;
	margin: 50px;
	padding: 10px;
	float: left;
}
#inicio .resumen-box h3 {
	margin-bottom: 30px;
}

/**************************************** MENU SUPERIOR ************************************************/

#menu-superior {
	background-color: #333333;
	color: #FFFFFF;
	display: table;
	width: 100%;
	padding: 5px 10px;
}

#menu-superior h1,
#menu-superior p {
	margin: 0;
}

#menu-superior .usuario-derecha {
	padding: 10px 0px;
}

#menu-superior .cerrar-sesion a {
	color: #FFFFFF;
	margin-left: 5px;
}

/**************************************** GROCERY CRUD *************************************************/

.gc-container .column-with-ordering {
	background-color: #333333 !important;
}

.gc-container .column-with-ordering:hover {
	background-color: #666666 !important;
}

.gc-container .pagination > li > a {
	padding: 6px 12px;
}

.gc-container .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
	color: #CCCCCC;
}

.gc-container .pagination > li > a, .pagination > li > span {
	color: #666666;
}

.gc-container .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	color: #333333;
}

.gc-container .table-bordered {
    border-color: #333333 !important;
}

.gc-container .gc-refresh {
	padding: 6px 12px !important;
}

.gc-container .search-button {
	padding: 5px 12px;
}

.gc-container .ui-corner-all {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.gc-container .hasDatepicker {
	margin-bottom: 5px;
}

.gc-container span.cke_skin_kama {
	border-radius: 0;
}

.gc-container.container-add-edit {
	margin-top: 54px;
}

.gc-container .dropdown-menu {
	border-radius: 0;
}

.gc-container .dropdown.show {
	display: inline-block !important;
}

.gc-container .chosen-container-single {
	width: 100% !important;
}

/**************************************** ADD EDIT ARTICULOS *************************************************/

#tabla-articulos #telefonos-ficha {
	display: table;
	width: 100%;
	border: 2px solid #999999;
	padding: 10px 0px 40px;
	margin-bottom: 30px;
}
#tabla-articulos #telefonos-ficha h3 {
	margin: 0px 0px 20px;
}
#tabla-articulos #telefono-guardar {
	width: 100%;
}
#tabla-articulos .telefono {
	position: relative;
    text-align: center;
    background-color: #F4F4F4;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 30px 0px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,51,0.6);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,51,0.6);
    box-shadow: 0px 0px 4px 0px rgba(51,51,51,0.6);
}
#tabla-articulos .telefono-titulo {
    display: table;
    background-color: #FF6600;
    color: #ffffff;
    padding: 5px 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}
#tabla-articulos .telefono-titulo h2 {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
    font-size: 19px;
    line-height: 19px;
    margin: 0;
    width: 100%;
}
#tabla-articulos .telefono-numero p {
    font-size: 32px;
    line-height: 32px;
    margin: 20px 0px 10px;
}
#tabla-articulos .telefono-descripcion {
    display: table;
    width: 100%;
}
#tabla-articulos .telefono-descripcion p {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
    font-size: 16px;
    margin: 0;
    width: 100%;
}
#tabla-articulos .telefono-borrar {
	position: absolute;
	background: none;
	right: 10px;
	bottom: 10px;
	font-size: 25px;
	border: 0;
	color: red;
	opacity: 0.7;
	padding: 0;
}
#tabla-articulos .telefono-borrar:hover {
	opacity: 1;
}
@media (min-width: 992px) {
    #tabla-articulos .telefono-titulo h2 {
        height: 38px;
    }
    #tabla-articulos .telefono-descripcion p {
        height: 48px;
    }
}
@media (max-width: 991px) {
    #tabla-articulos .telefono-titulo {
        padding: 10px 0px;
    }
}