/*.table-label {
  background: #DDD;
  width: 100%;
  padding: 5px;
  text-align: left;
}*/

.minimize-maximize-container {
  border: 1px solid #adadad;
  padding: 0px 5px;
  cursor: pointer;
}

.form-container {
  padding: 10px;
  border: 1px solid #DDD;
}

.read-row {
  margin-top: 7px;
}

.report-div {
  padding: 10px 15px 1px 15px;
  margin: 0px 4px;
  font-weight: bold;
}

/* Extra CSS for some plugins */
.ui_tpicker_hour_label, .ui_tpicker_minute_label, .ui_tpicker_second_label {
  font-size: 14px;
}

/* Select needs to have a minimum width in order to not
   look broken when the plugin "chosen" is loaded */
select.chosen-select {
  min-width: 100px;
}

/*** PROPIO **********************************************************************************************/

.table-label {
  background: #333333;
  color:white;
  width: 100%;
  padding: 5px;
  text-align: left;
  border: 1px solid #374c5e;
}
.form-container {
  padding: 25px 10px 10px 10px;
  /*border: 1px solid #333333;*/
 border: 0;
}
.required {
	color:red;
}
.report-div {
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}
.checkbox-solitario{
	margin-left:10px !important;
}

.titulo-addedit {
	font-size:20px;
	font-weight: 600;
}
.mensaje-input{
	background-color:#A94442;
	color:white;
	padding-right:5px;
	padding-left:5px;
}
.row {
	margin-bottom:30px;
	min-height:34px;
}
.form-container {
	padding-left: 25px;
	padding-right: 25px;
}
.report-div {
	border: 0;
}
input[type=checkbox]{
	outline:none !important;
}
.container-add-edit {
	margin-top:76px;
}
.readonly_label > img {
	max-width:325px;
	max-height:250px;
}
.add-edit-box{
	padding:0px;
}
.checkbox-inline {
	padding-left:35px !important;;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;  
  	-khtml-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;
  	user-select: none; 
}
#fancybox-wrap {
	top: 0 !important;
	position:fixed !important;
}
textarea {
	width:100%;
	resize:vertical;
	min-height:150px;
	padding: 6px 12px;
	color: #555555;
	border: 1px solid #cccccc;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.chzn-choices{
	min-height: 34px;
	border: 1px solid #ccc !important;
}
.chzn-choices input {
	min-height: 31px;
}
label span {
	font-weight: 400;
}
